<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @grant.project %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @grant.resource %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
